﻿
@{
    ViewBag.Title = "Default";
}

<h2>Tiêu đề: Bài tập Lab 01</h2>

<img src="~/Content/Images/avatar.jpg" width="100" height="100"/>
<h1>MSSV: 1212100</h1>
<h1>Họ tên: Đàm Trường Giang</h1>
<h1>Email: 1212100@stdudent.hcmus.edu.vn</h1>
<h2>Chú thích: Đây là bài tập làm quen với git, bitbucket và sourcetree</h2>